# TigerAI Foundation Config (ARM64)
NVIDIA_DRIVER_PACKAGE=nvidia-driver-580-open
NVIDIA_DKMS_PACKAGE=nvidia-dkms-580
NVIDIA_UTILS_PACKAGE=nvidia-utils-580
VM_MAP_COUNT=2097152

# Node-RED Stealth Config
NODE_RED_PASS=CHANGE_ME
NODE_RED_SETTINGS_FILE=/root/.node-red/settings.js
NODE_RED_MAX_OLD_SPACE=1024
